/*
Created on : Jul 22, 2015, 02:37:23 PM
Author : RedCherries
*/

#slide1_container {
    width:1200px;
    height:300px;
    overflow:hidden; /* So the sliding bit doesn't stick out. */
    margin:0 auto;
}
#slide1_images {
    /* This is the bit that moves. It has 4 images, so 4 * 450 = 1800. You could use javascript
    to work this out instead by counting images. */
    width:1800px;

    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
}
#slide1_images img {
    padding:0;
    margin:0;
    float:left; /* All the images are in a row next to each other. */
}

